<div align="center">
  <h1>Select a crypto money</h1>
    <%= form_tag do %>
        <%= select_tag "crypto_name", options_for_select(@cryptos.keys.sort), class: "form-control"%>
        <%= submit_tag "Valider" , class: "btn btn-primary"%>
    <% end %>
    <% if @crypto_name %>
        <p>The crypto money <%= @crypto_name %> value is <%= @cryptos[@crypto_name] %>.</p>
    <% end %>
</div>
